<div class="top-bar">
  <div class="container">
      <div class="top-bar-left">
          <div class="header-message">
              Welcome to our online store!
          </div>
      </div>
      <div class="top-bar-right">
          <div class="header-language">
              <div class="cleric-language cleric-dropdown">
                  <a href="#" class="active language-toggle" data-cleric="cleric-dropdown">
                      <span>
                          English (USD)
                      </span>
                  </a>
                  <ul class="cleric-submenu">
                      <li class="switcher-option">
                          <a href="#">
                              <span>
                                  French (EUR)
                              </span>
                          </a>
                      </li>
                      <li class="switcher-option">
                          <a href="#">
                              <span>
                                  Japanese (JPY)
                              </span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <ul class="header-user-links">
              <li>
                  <a href="/auth">Login or Register</a>
              </li>
          </ul>
      </div>
  </div>
</div>
<div class="header-nav-container rows-space-20">
  <div class="container">
      <div class="header-nav-wapper main-menu-wapper">
          <div class="header-nav">
              <div class="container-wapper">
                  <ul class="cleric-clone-mobile-menu cleric-nav main-menu " id="menu-main-menu">
                      <li class="menu-item  menu-item-has-children">
                          <a href="/" class="cleric-menu-item-title" title="Dashboard">Dashboard</a>
                      </li>
                      <li class="menu-item menu-item-has-children">
                          <a href="/admin/product/category" class="cleric-menu-item-title" title="Category">Category</a>
                      </li>
                      <li class="menu-item  menu-item-has-children">
                          <a href="/Product" class="cleric-menu-item-title"title="Product">Product</a>
                      </li>
                      <li class="menu-item">
                          <a href="/contact" class="cleric-menu-item-title" title="About">About</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
