<app-ad-header></app-ad-header>

<div class="container">
    <div class="card-header">
        <h5>Products Category</h5>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Tên danh mục</th>
            <th style="text-align: center;" scope="col">Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td style="text-align: center;">
                <button style="margin-right: 10px; font-size: 20px;"><i class="icon fa fa-edit" aria-hidden="true"></i></button>

                <button style="color: brown; font-size: 20px;"><i class="icon fa fa-remove" aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td><input class="name-category" placeholder="Name" value="Name"></td>
            <td style="text-align: center;">
                <button style="margin-right: 10px; font-size: 20px;"><i class="icon fa fa-save" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
</div>