<div class="banner-wrapp">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="banner">
                  <div class="item-banner style4">
                      <div class="inner">
                          <div class="banner-content">
                              <h4 class="cleric-subtitle">TOP STAFF PICK</h4>
                              <h3 class="title">Best Collection</h3>
                              <div class="description">
                                  Proin interdum magna primis id consequat dictum
                              </div>
                              <a href="#" class="button btn-shop-now">Shop now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="banner">
                  <div class="item-banner style5">
                      <div class="inner">
                          <div class="banner-content">
                              <h3 class="title">Maybe You’ve <br/>Earned it</h3>
                              <span class="code">
              Use code:
              <span>
                CLERIC
              </span>
              Get 25% Off for all Accessories items!
            </span>
                              <a href="#" class="button btn-shop-now">Shop now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="banner-wrapp rows-space-65">
  <div class="container">
      <div class="banner">
          <div class="item-banner style17">
              <div class="inner">
                  <div class="banner-content">
                      <h3 class="title">Collection Arrived</h3>
                      <div class="description">
                          You have no items & Are you <br/>ready to use? come & shop with us!
                      </div>
                      <div class="banner-price">
                          Price from:
                          <span class="number-price">$45.00</span>
                      </div>
                      <a href="#" class="button btn-shop-now">Shop now</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
